<% include_actor = local_assigns[:include_actor] %>

<table class="table bg-base-100">
  <% if include_actor %>
  <thead>
    <tr>
      <th>device</th>

      <% if include_actor %>
        <th class="text-right">owner</th>
      <% end %>

      <th></th>
    </tr>
  </thead>
  <% end %>
  <tbody>
    <% if devices.any? %>
      <% devices.each do |device| %>
        <tr>
          <td>
            <div class="flex items-center gap-4">
              <%= lucide_icon(device_icon(device), size: 16) %>
              <div class="flex flex-col gap-1">
                <span class="truncate">
                  <%= device.name %> on <%= device.os_name %>
                </span>
                <span class="truncate text-xs font-mono">
                  <%= device.ip_address %>
                </span>
              </div>
            </div>
          </td>
          <% if include_actor %>
            <td class="text-right">
              <a class="underline" href="<%= manage_actor_path(device.actor) %>">
                <%= device.actor&.nickname || 'unknown' %>
              </a>
            </td>
          <% end %>

          <td class="text-right">
            <%= form_with url: manage_device_path(device), method: :patch do |f| %>
              <input type="submit" value="logout" class="btn btn-xs" />
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="<%= include_actor ? 3 : 2 %>" class="text-sm text-center">
          nothing found...
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
