<div class="mb-4 flex items-center gap-2">
  <%= lucide_icon('monitor-smartphone', class: 'w-5 h-5') %>

  <h1 class="font-bold">
    devices
  </h1>

  <%= form_with url: manage_devices_path, method: :get, class: 'flex-grow ml-2 flex gap-2 items-center' do |f| %>
    <label class="input input-bordered input-sm flex items-center gap-2 flex-grow">
      <input type="text" name="q" class="w-full flex-grow" placeholder="search by actor or ip address..." value="<%= params[:q] %>" />
      <button type="submit" class="btn btn-ghost btn-xs -mr-2" value="search">
        <%= lucide_icon('search', size: 16) %>
      </button>
    </label>
  <% end %>
</div>

<div class="overflow-x-auto">
  <%= render 'list', devices: @devices, include_actor: true %>
</div>

<%== pagy_nav(@pagy) %>
