<div data-controller="recover">
  <% if flash[:recovery] %>
    <div role="alert" class="alert alert-success shadow-lg mb-4 flex items-center gap-4 text-left">
      <%= lucide_icon('check') %>
      <div>
        <h3 class="font-bold"><%= t('.submitted.heading') %></h3>
        <div class="text-xs"><%= t('.submitted.description') %></div>
      </div>
    </div>
  <% else %>
  <div role="alert" class="alert mb-4 text-left">
    <div class="flex flex-col">
      <div class="flex items-center gap-4">
        <%= lucide_icon("shield-question", class: "stroke-info") %>
        <span class="flex-grow"><%= t(".heading") %></span>
        <div class="dropdown dropdown-bottom dropdown-end">
          <div tabindex="0" role="button" class="btn btn-xs text-sm -mr-2"><%= t(".help_button") %></div>
          <div
            tabindex="0"
            class="
              dropdown-content z-[1] mt-4 card card-compact w-[275px] px-2 pb-2 shadow bg-info
              text-info-content
            ">
            <div class="card-body">
              <h4 class="card-title"><%= t(".help_title") %></h4>
              <span><%= t(".help_body") %></span>
              <% if t('.support_url', default: false) %>
                <span class="italic">
                  <%= t(".help_more") %>
                  <a class="not-italic underline" href="<%= t('.support_url') %>"><%= t(".help_contact") %></a>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="divider my-1 -mr-4"></div>
      <div class="text-sm -mr-2">
        <%= t(".subheading") %>
      </div>
    </div>
  </div>
  <% end %>
  <%= form_with url: recover_path, method: :post do |form| %>
    <div class="flex flex-col gap-4">
      <label class="form-control w-full">
        <input
          type="text"
          data-recover-target="input"
          data-action="recover#updateInput"
          placeholder="<%= t('.placeholder') %>"
          name="recover[value]"
          class="input input-bordered w-full">
      </label>
      <div class="flex items-center gap-4">
        <%= form.submit t(".submit"),
                    class: "btn btn-active btn-info",
                    data: {
                      recover_target: "submit",
                    },
                    disabled: true %>
        <div class="text-xs opacity-60">
          or
          <a href="<%= Masks.configuration.site_links[:login] %>" class="underline"><%= t(".back") %></a>
        </div>
      </div>
    </div>
  <% end %>
</div>
