<% if @recovery %>
  <div data-controller="recover-password">
    <div role="alert" class="alert mb-4">
      <div class="flex flex-col">
        <div class="flex items-center gap-4">
          <%= lucide_icon("rotate-cw", class: "stroke-warning") %>
          <span class="flex-grow font-bold"><%= t(".heading") %></span>
        </div>
        <div class="divider my-1 -mr-4"></div>
        <div class="text-sm -mr-4">
          <%= t(".subheading") %>
        </div>
      </div>
    </div>
    <% if flash[:errors]&.any? %>
      <div role="alert" class="alert alert-error mb-4">
        <%= lucide_icon("x") %>
        <%= flash[:errors][0] %>
      </div>
    <% end %>

    <%= form_with url: recover_password_path, method: :post do |form| %>
      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-4">
          <input type="hidden" name="token" value="<%= @recovery.token %>">
          <input
            type="text"
            data-recover-password-target="password"
            data-action="recover-password#updatePassword"
            placeholder="<%= t('.placeholder') %>"
            name="recover[password]"
            class="input input-bordered w-full">
          <%= form.submit t(".submit"),
                      class: "btn btn-warning btn-info",
                      data: {
                        recover_password_target: "submit",
                      } %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div role="alert" class="alert mb-4">
    <div class="flex flex-col">
      <div class="flex items-center gap-4">
        <%= lucide_icon(
          flash[:reset] ? "rotate-cw" : "x",
          class: flash[:reset] ? "stroke-success" : "stroke-error",
        ) %>
        <span class="flex-grow font-bold"><%= flash[:reset] ? t(".heading_success") : t(".heading_expired") %></span>
      </div>
      <div class="divider my-1 -mr-4"></div>
      <div class="text-sm -mr-4">
        <%= flash[:reset] ? t(".subheading_success") : t(".subheading_expired") %>
      </div>
      <% if flash[:reset] %>
        <div class="text-sm -mr-4 mt-3">
          <a href="<%= Masks.configuration.site_links[:login] %>" class="underline"><%= t(".login") %></a>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
