<div class="w-full">
  <div role="tablist" class="tabs tabs-bordered mb-4">
    <% if @actor.totp_secret %>
      <input
        checked
        name="factor2"
        type="radio"
        role="tab"
        class="tab whitespace-nowrap"
        aria-label="<%= t('.tab.one_time_code') %>">
      <div role="tabpanel" class="tab-content p-4 bg-base-100 rounded-b">
        <p class="flex items-center gap-4 text-sm mb-4">
          <%= lucide_icon("qr-code") %>
          <%= t(".one_time_code") %>
        </p>
        <label class="form-control w-full">
          <input
            type="text"
            data-action="session#updateCode"
            data-session-target="oneTimeCode"
            placeholder="<%= t('.placeholder.one_time_code') %>"
            name="session[one_time_code]"
            class="input input-bordered w-full">
        </label>
      </div>
    <% end %>

    <% if @actor.saved_backup_codes? %>
      <input
        type="radio"
        name="factor2"
        role="tab"
        class="tab whitespace-nowrap"
        aria-label="<%= t('.tab.backup_code') %>">
      <div role="tabpanel" class="tab-content p-4 bg-base-100 rounded-b">
        <p class="flex items-center gap-4 text-sm mb-4">
          <%= lucide_icon("rotate-cw") %>
          <%= t(".backup_code") %>
        </p>
        <label class="form-control w-full">
          <input
            type="text"
            data-action="session#updateCode"
            data-session-target="backupCode"
            placeholder="<%= t('.placeholder.backup_code') %>"
            name="session[backup_code]"
            class="input input-bordered w-full">
        </label>
      </div>
    <% end %>
  </div>
</div>
