<!DOCTYPE html>
<html class="h-full bg-base-200" data-theme="luxury">
  <head>
    <title><%= t(".meta.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "masks/application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "masks/application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="h-full">
    <div class="navbar bg-base-100 mb-6">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost text-lg">
            masks
          </div>
          <ul tabindex="0" class="menu  dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 gap-1">
            <li><a class="<%= section == :dashboard ? 'active' : '' %>" href="<%= manage_path %>">Dashboard</a></li>
            <li><a class="<%= section == :clients ? 'active' : '' %>" href="<%= manage_clients_path %>">Clients</a></li>
            <li><a class="<%= section == :actors ? 'active' : '' %>" href="<%= manage_actors_path %>">Actors</a></li>
            <li><a class="<%= section == :devices ? 'active' : '' %>" href="<%= manage_devices_path %>">Devices</a></li>
          </ul>
        </div>
      </div>

      <div class="navbar-end pr-2">
        <a href="<%= manage_actor_path(current_actor) %>">
          <div class="avatar placeholder">
            <div class="bg-neutral text-neutral-content rounded-full w-10">
              <span class="text-base"><%= current_actor.nickname.slice(0, 1).upcase %></span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="w-full px-6 box-border">
      <%= yield %>
    </div>
  </body>
</html>
