<!DOCTYPE html>
<html class="h-full bg-base-200" data-theme="dark">
  <head>
    <title><%= t(".meta.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "masks/application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "masks/application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="drawer lg:drawer-open">
      <input id="masks-drawer" type="checkbox" class="drawer-toggle" autocomplete="off" />

      <div class="drawer-content flex flex-col">
        <div class="w-full navbar bg-base-100 lg:hidden">
          <div class="flex-none lg:hidden">
            <label for="masks-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
              <%= lucide_icon('menu') %>
            </label>
          </div>
          <div class="flex-1 font-bold lg:hidden">
            <a class="btn btn-ghost text-lg" href="<%= manage_path %>">masks</a>
          </div>
          <div class="flex-none hidden lg:block">
          </div>
        </div>

        <div class="w-full p-6 box-border">
          <%= yield %>
        </div>
      </div>

      <div class="drawer-side z-50">
        <label for="masks-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
          <ul class="menu p-4 w-[220px] min-h-full bg-base-100">
            <div class="flex items-center gap-2">
              <a class="btn btn-ghost text-lg font-bold" href="<%= manage_path %>">
                masks
              </a>
            </div>

            <li>
              <a class="<%= section == :actors ? 'active' : '' %>" href="<%= manage_actors_path %>">
                <%= lucide_icon('user', size: 16) %>
                Actors
              </a>
            </li>
            <li>
              <a class="<%= section == :devices ? 'active' : '' %>" href="<%= manage_devices_path %>">
                <%= lucide_icon('monitor-smartphone', size: 16) %>
                Devices
              </a>
            </li>
            <li>
              <a class="<%= section == :clients ? 'active' : '' %>" href="<%= manage_clients_path %>">
                <%= lucide_icon('handshake', size: 16) %>
                Clients
              </a>
            </li>
            <li>
              <details open>
                <summary>
                  <%= lucide_icon('cog', size: 16) %>
                  Settings
                </summary>
                <ul>
                  <li><a class="<%= current_page?(manage_general_settings_path) ? 'active' : '' %>" href="<%= manage_general_settings_path %>">General</a></li>
                  <li><a class="<%= section == :settings ? 'active' : '' %>" href="<%= manage_path %>">Sessions</a></li>
                  <li><a class="<%= section == :settings ? 'active' : '' %>" href="<%= manage_path %>">Connections</a></li>
                  <li><a class="<%= current_page?(manage_theme_settings_path) ? 'active' : '' %>" href="<%= manage_theme_settings_path %>">Theme</a></li>
                </ul>
              </details>
            </li>

          </ul>
      </div>
    </div>
  </body>
</html>
