<div class="mb-5 flex items-center gap-2">
  <%= lucide_icon('monitor-smartphone', class: 'w-5 h-5') %>

  <h1 class="font-bold">
    devices
  </h1>

  <%= form_with url: admin_devices_path, method: :get, class: 'flex-grow ml-2 flex gap-2 items-center' do |f| %>
    <label class="input input-sm flex items-center gap-2 flex-grow">
      <input type="text" name="q" class="w-full flex-grow" placeholder="search by actor or ip address..." value="<%= params[:q] %>" />

      <button type="submit" class="btn btn-ghost btn-xs -mr-2" value="search">
        <%= lucide_icon('search', size: 16) %>
      </button>
    </label>
  <% end %>
</div>

<div class="my-4">
  <%= render 'masks/admin/alert/info' %>
</div>

<div class="overflow-x-auto -mx-6 md:mx-0">
  <table class="table bg-base-100 rounded-none md:rounded-lg md:table-sm table-xs [&_td]:py-3 [&_td]:px-4 [&_thead_td]:py-2">
    <thead>
      <tr>
        <th>device</th>
        <th class="text-center">tokens</th>
        <th class="text-right">created</th>
      </tr>
    </thead>
    <% if @devices.any? %>
      <% @devices.each do |device| %>
        <tr>
          <td>
            <div class="flex items-center gap-4 md:max-w-full max-w-[150px]">
            <a href="<%= admin_device_path(device) %>" class="label flex items-center gap-2 py-0 cursor-pointer link-hover truncate">
              <span class="truncate">
                <%= device.name %> on <%= device.os_name %>
              </span>
              <%= lucide_icon(device_icon(device), size: 16) %>
              <span class="truncate text-xs font-mono opacity-75">
                <%= device.ip_address %>
              </span>
            </label>
            </div>
          </td>
          <td class="text-center text-xs">
            <% if (tokens = device.access_tokens.valid).none? %>
              <span class="opacity-50">none</span>
            <% elsif tokens.any? %>
              <a href="<%= admin_tokens_path(q: tokens.first.token.slice(0, 6)) %>">
                <%= tokens.count %>
              </a>
            <% end %>
          </td>
          <td class="text-right text-xs">
            <div class="truncate">
              <%= time_ago_in_words(device.created_at) %> ago
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3" class="text-sm text-center">
          nothing found...
        </td>
      </tr>
    <% end %>
  </table>
</div>

<% if @pagy.pages > 1 %>
  <%== pagy_nav(@pagy) %>
<% end %>
