<%= render 'masks/admin/breadcrumbs', heading: 'all devices', back: admin_devices_path do %>
  <span class="italic truncate">
    updated <%= time_ago_in_words(@device.updated_at) %> ago
  </span>
<% end %>

<div class="mb-4 flex items-center gap-4">
  <%= lucide_icon(device_icon(@device), class: 'w-5 h-5') %>

  <div>
    <h1 class="font-bold text-neutral-content">
      <%= device_desc(@device) %>
    </h1>

    <p class="font-mono text-xs">#<%= @device.key %></p>
  </div>
</div>

<%= render 'masks/admin/alert/info', class: 'mb-2', info: 'nobody is associated with this device...' if @clients&.empty? && @actors&.empty? %>

<div class="mb-2 p-4 py-3 rounded-lg bg-base-100">
  <div class="flex flex-col gap-2 text-sm">
    <div class="flex items-center gap-2 flex-grow">
      <span class="opacity-75 text-xs truncate min-w-[70px]">
        user agent
      </span>

      <span class="font-mono text-sm truncate"><%= @device.user_agent %></span>
    </div>

    <div class="flex items-center gap-2 flex-grow">
      <span class="opacity-75 text-xs truncate min-w-[70px]">
        ip address
      </span>

      <span class="font-mono text-sm truncate"><%= @device.ip_address %></span>
    </div>

    <div class="flex items-center gap-2 flex-grow">
      <span class="opacity-75 text-xs truncate min-w-[70px]">
        registered
       </span>

      <span class="truncate">
        <%= time_ago_in_words(@device.created_at) %> ago
      </span>
    </div>
  </div>
</div>

<div class="flex items-center gap-2 text-center md:text-base text-xs">
  <a class="hover:bg-base-300 focus:bg-base-300 flex flex-col items-center bg-base-100 rounded-lg flex-grow py-3 md:py-6" href="<%= admin_actors_path(q: "device:#{@device.key}") %>">
    <div class="flex items-center gap-2">
      <%= lucide_icon('user-round', size: 15) %>
      <p class="text-2xl"><%= @device.actors.count %></p>
    </div>
    actors
  </a>
  <a class="hover:bg-base-300 focus:bg-base-300  flex flex-col items-center bg-base-100 rounded-lg flex-grow py-3 md:py-6" href="<%= admin_clients_path(q: "device:#{@device.key}") %>">
    <div class="flex items-center gap-2">
      <%= lucide_icon('handshake', size: 15) %>
      <p class="text-2xl"><%= @device.clients.count %></p>
    </div>
    clients
  </a>
  <a class="hover:bg-base-300 focus:bg-base-300  flex flex-col items-center bg-base-100 rounded-lg flex-grow py-3 md:py-6" href="<%= admin_tokens_path(q: "device:#{@device.key}") %>">
    <div class="flex items-center gap-2">
      <%= lucide_icon('key-square', size: 15) %>
      <p class="text-2xl"><%= @device.access_tokens.valid.count %></p>
    </div>
    tokens
  </a>
</div>
