<div class="navbar gap-2 px-1" data-controller="theme">
  <div class="flex-1">
    <% if setting(:logo) %>
      <img src="<%= setting(:logo) %>" class="h-7 md:h-8 -mt-1">
    <% else %>
      <span class="text-2xl font-bold">
        <%= setting(:name) %>
      </span>
    <% end %>
  </div>

  <% if dark_mode_allowed? %>
    <label class="cursor-pointer grid place-items-center ml-2">
      <input type="checkbox"
        <%= dark_mode? ? 'checked' : '' %>
        autocomplete="off"
        data-light="<%= setting(:theme) || 'light' %>"
        data-dark="<%= setting(:dark_mode, :theme) || 'dark' %>"
        data-theme-target="toggle"
        data-action="theme#toggle"
        class="toggle bg-base-content row-start-1 col-start-1 col-span-2" />

      <%= lucide_icon('sun', size: 12, class: 'col-start-1 row-start-1 fill-base-100 stroke-base-100') %>
      <%= lucide_icon('moon', size: 12, class: 'col-start-2 row-start-1 fill-base-100 stroke-base-100') %>
    </label>
  <% end %>
</div>
