<%= form_with url: manage_settings_path, method: :patch do |f| %>
  <%= render 'header', section: 'general' %>

  <div class="flex flex-col gap-2">
    <div class="form-control">
      <label class="flex items-center gap-4 input input-bordered">
        <span class="text-sm">url</span>
        <input name="name" type="text" value="<%= @settings['url'] %>" class="w-full" />
      </label>
      <div class="label">
        <span class="label-text-alt">used for generating links to masks</span>
      </div>
    </div>

    <div class="divider my-0"></div>

    <h3 class="font-bold text-sm mt-2 mb-4 flex items-center gap-3">
      <%= lucide_icon('user-plus', size: 16) %>
      <span>
        signups
      </span>
    </h3>

    <div class="form-control mb-2 flex flex-row items-center gap-4"  class="<%= @settings['dark_mode'] ? '' : 'hidden' %>">
      <label class="label cursor-pointer gap-2">
        <input name="signups.enabled" type="hidden" value="" />
        <input name="signups.enabled" type="checkbox" class="toggle toggle-info toggle-sm" <%= @settings['signups.enabled'] ? 'checked' : '' %> autocomplete="off" />

        <span data-reveal-target="item" class="label-text <%= @settings['signups.enabled'] ? '' : 'opacity-75' %>">enabled</span>
      </label>
    </div>

    <% Masks.configuration.identifiers.each do |key, value| %>
    <div class="form-control mb-2 flex flex-row items-center gap-4"  class="<%= @settings['dark_mode'] ? '' : 'hidden' %>">
      <label class="label cursor-pointer gap-2">
        <input name="<%= key %>.allowed" type="hidden" value="" />
        <input name="s<%= key %>.allowed" type="checkbox" class="toggle toggle-info toggle-sm" <%= @settings["#{key}.allowed"] ? 'checked' : '' %> autocomplete="off" />

        <span data-reveal-target="item" class="label-text <%= @settings["#{key}.allowed"] ? '' : 'opacity-75' %>"><%= key %></span>
      </label>
    </div>
    <% end %>

    <div class="form-control mb-2 flex flex-row items-center gap-4"  class="<%= @settings['dark_mode'] ? '' : 'hidden' %>">
      <label class="label cursor-pointer gap-2">
        <input name="signups.enabled" type="hidden" value="" />
        <input name="signups.enabled" type="checkbox" class="toggle toggle-info toggle-sm" <%= @settings['signups.enabled'] ? 'checked' : '' %> autocomplete="off" />

        <span data-reveal-target="item" class="label-text <%= @settings['signups.enabled'] ? '' : 'opacity-75' %>">enabled</span>
      </label>
    </div>

    <div class="divider my-0"></div>

    <h3 class="font-bold text-sm mt-2 mb-4 flex items-center gap-3">
      <%= lucide_icon('user-plus', size: 16) %>
      <span>
        enrollment
      </span>
    </h3>

    <div class="form-control mb-2"  class="<%= @settings['dark_mode'] ? '' : 'hidden' %>">
      <label class="label cursor-pointer">
        <span data-reveal-target="item" class="label-text <%= @settings[:signups_allowed] ? '' : 'hidden' %>">require an email address?</span>
        <input name="signups_allowed" type="checkbox" class="toggle toggle-info toggle-sm" <%= @settings['signups_allowed'] ? 'checked' : '' %> autocomplete="off" />
      </label>
    </div>

    <div class="form-control mb-2" data-reveal-target="item" class="<%= @settings['dark_mode'] ? '' : 'hidden' %>">
      <label class="label cursor-pointer" data-controller="reveal">
        <span data-reveal-target="item" class="label-text <%= @settings[:signups_allowed] ? '' : 'hidden' %>">allow public signups?</span>
        <span data-reveal-target="item" class="label-text <%= @settings[:signups_allowed] ? 'hidden' : '' %>">allow public signups?</span>
        <input name="signups_allowed" type="checkbox" class="toggle toggle-info toggle-sm" data-action="reveal#toggle" <%= @settings['signups_allowed'] ? 'checked' : '' %> autocomplete="off" />
      </label>
    </div>

    <div class="form-control mb-2" data-reveal-target="item" class="<%= @settings['dark_mode'] ? '' : 'hidden' %>">
      <label class="form-control">
        <div class="label">
          <span class="label-text text-sm">identifier</span>
        </div>
        <select name="actor_id" class="select select-bordered w-full">
          <option value="nickname">nickname</option>
          <option value="email">email</option>
        </select>
      </label>
    </div>

    <div class="form-control">
      <label class="label cursor-pointer flex gap-4 justify-start">
        <input type="radio" name="radio-10" class="radio checked:bg-red-500" checked />
        <span class="label-text">email address</span>
      </label>
    </div>
    <div class="form-control">
      <label class="label cursor-pointer flex gap-4 justify-start">
        <input type="radio" name="radio-10" class="radio checked:bg-blue-500" checked />
        <span class="label-text">nickname</span>
      </label>
    </div>


    <div class="form-control mb-2" data-reveal-target="item" class="<%= @settings['dark_mode'] ? '' : 'hidden' %>">
      <label class="flex items-center gap-4 input input-bordered">
        <span class="text-sm">logo</span>
        <input name="dark_logo" type="text" value="<%= @settings['dark_logo'] %>" placeholder="..." autocomplete="off"  />
      </label>
      <div class="label">
        <span class="label-text-alt">if blank the default logo will be used</span>
      </div>
    </div>

    <div class="form-control">
      <label class="flex items-center gap-4 input input-bordered">
        <span class="text-sm">background</span>
        <input name="dark_background" type="text" value="<%= @settings['dark_background'] %>" placeholder="enter a valid background-image property..." class="w-full" />
      </label>
      <div class="label">
        <span class="label-text-alt">the default background will be used unless overridden</span>
      </div>
    </div>
  </div>
<% end%>
