<%= form_with url: manage_settings_path, method: :patch do |f| %>
  <%= render 'header', section: 'theme' %>

  <div class="flex flex-col gap-2">
    <div class="form-control">
      <label class="flex items-center gap-4 input input-bordered">
        <span class="text-sm">name</span>
        <input name="name" type="text" value="<%= @settings['name'] %>" class="w-full" />
      </label>
      <div class="label">
        <span class="label-text-alt">shown on login & profile management pages</span>
      </div>
    </div>

    <div class="form-control">
      <label class="flex items-center gap-4 input input-bordered">
        <span class="text-sm">theme</span>
        <input name="theme" type="text" value="<%= @settings['theme'] %>" placeholder="..." autocomplete="off" />
      </label>
      <div class="label">
        <span class="label-text-alt">
          any of the <a class="underline" href="https://daisyui.com/docs/themes/">daisyUI themes<a> are accepted
        </span>
      </div>
    </div>

    <div class="form-control">
      <label class="flex items-center gap-4 input input-bordered">
        <span class="text-sm">logo</span>
        <input name="logo" type="text" value="<%= @settings['logo'] %>" placeholder="enter a url to an image..." class="w-full" />
      </label>
      <div class="label">
        <span class="label-text-alt">shown on all pages and emails</span>
      </div>
    </div>

    <div class="form-control">
      <label class="flex items-center gap-4 input input-bordered">
        <span class="text-sm">background</span>
        <input name="background" type="text" value="<%= @settings['background'] %>" placeholder="enter a valid background-image property..." class="w-full" />
      </label>
      <div class="label">
        <span class="label-text-alt">any value that can be passed to the css <span class="font-mono">background-image:</span> property is accepted</span>
      </div>
    </div>

    <div class="form-control">
      <label class="flex items-center gap-4 input input-bordered">
        <span class="text-sm">favicon</span>
        <input name="favicon" type="text" value="<%= @settings['favicon'] %>" placeholder="..." />
      </label>
      <div class="label">
        <span class="label-text-alt">shown in the browser's title bar</span>
      </div>
    </div>

    <div class="divider my-0"></div>

    <h3 class="font-bold text-sm mt-2 mb-4 flex items-center gap-3">
      <%= lucide_icon('moon', size: 16) %>
      <span>
        dark mode
      </span>
    </h3>

    <div class="form-control mb-2">
      <label class="flex items-center gap-4 input input-bordered">
        <span class="text-sm">theme</span>
        <input name="dark_mode.theme" type="text" value="<%= @settings['dark_mode.theme'] %>" placeholder="..." autocomplete="off"  />
      </label>
      <div class="label">
        <span class="label-text-alt">leave blank to disable dark mode</span>
      </div>
    </div>

    <div class="form-control mb-2">
      <label class="flex items-center gap-4 input input-bordered">
        <span class="text-sm">logo</span>
        <input name="dark_mode.logo" type="text" value="<%= @settings['dark_mode.logo'] %>" placeholder="..." autocomplete="off"  />
      </label>
      <div class="label">
        <span class="label-text-alt">if blank the default logo will be used</span>
      </div>
    </div>

    <div class="form-control">
      <label class="flex items-center gap-4 input input-bordered">
        <span class="text-sm">background</span>
        <input name="dark_mode.background" type="text" value="<%= @settings['dark_mode.background'] %>" placeholder="enter a valid background-image property..." class="w-full" />
      </label>
      <div class="label">
        <span class="label-text-alt">the default background will be used unless overridden</span>
      </div>
    </div>
  </div>
<% end%>
