<div class="mb-6 flex items-center gap-2">
  <%= lucide_icon('handshake', class: 'w-5 h-5') %>

  <h1 class="font-bold flex-grow">
    clients
  </h1>

  <a href="" class="btn btn-sm btn-ghost btn-primary">
    <span class="">
      <%= lucide_icon('plus-square', class: 'w-5 h-5') %>
    </span>

    new
  </a>
</div>

<div class="overflow-x-auto">
  <table class="table bg-base-100">
    <!-- head -->
    <thead>
      <tr>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="font-bold"><%= client.name %></div>
            </div>
          </td>
          <td class="text-right">
            <a href="<%= manage_client_path(client) %>" class="btn btn-ghost btn-xs">manage</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%== pagy_nav(@pagy) %>
