<%= form_with url: manage_client_path(@client), method: :patch, data: { turbo: false } do |form| %>
  <div class="flex items-center gap-2 mb-6">
    <%= lucide_icon('handshake', class: 'w-5 h-5') %>

    <input name="name" type="text" class="input input-sm text-lg input-ghost font-bold flex-grow" value="<%= @client.name %>">
    <input type="submit" name="submit" value="save" class="btn btn-sm btn-success">
  </div>

  <% if flash[:errors]&.any? %>
    <div role="alert" class="alert alert-error mb-4 mt-0">
      <%= lucide_icon('x-circle') %>
      <div>
        <h3 class="font-bold">error(s) occurred while saving...</h3>
        <ul class="list-disc pl-4">
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="bg-base-300 flex flex-col gap-2 p-4 rounded-xl mb-4">
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">client type</span>
      </div>

      <select class="select select-bordered" name="response_type">
        <option value="confidential" <%= @client.client_type == 'confidential' ? 'selected' : '' %>>confidential</option>
        <option value="public" <%= @client.client_type == 'public' ? 'selected' : '' %>>public</option>
      </select>
    </label>

    <div class="form-control pl-2 mb-1">
      <label class="flex items-center gap-4">
        <input name="consent" type="checkbox" class="toggle toggle-sm" <%= @client.consent ? 'checked' : '' %>>

        <span class="label-text">require consent when authorizing this client</span>
      </label>
    </div>

    <div class="form-control w-full">
      <div class="label">
        <span class="label-text">credentials</span>
      </div>

      <label class="input input-bordered flex items-center gap-4 mb-2 text-sm">
        key
        <input name="key" class="text-base" type="text" class="grow" value="<%= @client.key %>" disabled>
      </label>

      <label class="input input-bordered flex items-center gap-4 text-sm" data-controller="password-visibility">
        secret
        <input name="secret" class="text-base flex-grow" type="password" value="<%= @client.secret %>" data-password-visibility-target="input" spellcheck="false">
        <button data-action="password-visibility#toggle" type="button">
          <span data-password-visibility-target="icon"><%= lucide_icon('eye') %></span>
          <span data-password-visibility-target="icon" class="hidden"><%= lucide_icon('eye-off') %></span>
        </button>
      </label>
    </div>

    <label class="form-control">
      <div class="label">
        <span class="label-text">redirect uri(s)</span>
      </div>

      <textarea name="redirect_uris" class="textarea textarea-bordered h-24" placeholder="separate by a newline..."><%= @client.redirect_uris&.join("\n") %></textarea>
    </label>

    <div class="form-control w-full">
      <div class="label">
        <span class="label-text">subject type</span>
      </div>

      <select name="subject_type" class="select select-bordered">
        <option value="nickname" <%= @client.subject_type == 'nickname' ? 'selected' : '' %>>nickname</option>
        <option value="email" <%= @client.subject_type == 'email' ? 'selected' : '' %>>email</option>
        <option value="pairwise" <%= @client.subject_type == 'pairwise' ? 'selected' : '' %>>anonymized</option>
      </select>
    </div>

    <div class="form-control w-full">
      <div class="label">
        <span class="label-text">lifetimes</span>
      </div>

      <label class="input input-bordered flex items-center gap-4 mb-2 text-sm">
        auth codes
        <input name="code_expires_in" type="text" class="grow" value="<%= @client.code_expires_in %>">
      </label>

      <label class="input input-bordered flex items-center gap-4 text-sm mb-2">
        access tokens
        <input name="token_expires_in" type="text" class="grow" value="<%= @client.token_expires_in %>">
      </label>

      <label class="input input-bordered flex items-center gap-4 text-sm">
        refresh tokens
        <input name="refresh_expires_in" type="text" class="grow" value="<%= @client.refresh_expires_in %>">
      </label>
    </div>
  </div>
<% end %>

  <div class="overflow-x-auto max-h-96 rounded-xl mb-4">
    <table class="table table-pin-rows bg-base-300">
      <thead>
        <tr class="">
          <th class="py-2 w-full">scopes</th>
          <th class="py-2"></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td colspan="2">
                <%= form_with url: manage_client_path(@client), method: :patch do |form| %>
              <div class="flex items-center gap-2">
                  <%= lucide_icon('plus-square', class: 'text-base-300-content') %>
                  <input type="text" name="add_scope" class="flex-grow input input-sm" placeholder="add a scope...">
                  <input type="submit" class="btn btn-sm" value="add">
              </div>
                 <% end %>
            </td>
          </tr>
        <% @client.scopes.each do |scope| %>
          <tr>
            <td class="font-mono w-full"><%= scope %></td>
            <td class="">
              <%= form_with url: manage_client_path(@client), method: :patch do |form| %>
                <input type="hidden" name="remove_scope" value="<%= scope %>">

                <button type="submit" class="btn btn-ghost btn-error hover:btn-outline btn-xs" <%= scope == 'openid' ? 'disabled' : '' %>>
                  <%= lucide_icon('x', class: 'w-4 h-4') %>
                </button>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<%= form_with url: manage_client_path(@client), method: :delete  do |form| %>
  <div class="border border-error bg-base-300 flex gap-2 p-4 rounded-xl mb-4 items-center">
    <p class="text-error">
      <%= lucide_icon('trash-2') %>
    </p>

    <p class="flex-grow text-error">
      <span class="font-bold">permanently</span> delete this client...
    </p>

    <input type="submit" class="btn btn-sm btn-error" value="delete">
  </div>
<% end %>
