<div data-controller="password-visibility">
  <div class="flex items-center gap-2">
    <label class="input <%= local_assigns[:error] ? 'input-error' : '' %> input-bordered flex items-center gap-2 min-w-[50px] flex-grow">
      <input
        autofocus
        type="password"
        spellcheck="false"
        placeholder="<%= local_assigns[:placeholder] || t('.password') %>"
        name="password"
        value="<%= local_assigns[:value] %>"
        data-password-visibility-target="input"
        class="min-w-[50px] max-w-full flex-grow" />

      <button data-action="password-visibility#toggle" type="button" class="btn btn-sm btn-ghost -mr-2">
        <span data-password-visibility-target="icon"><%= lucide_icon('eye') %></span>
        <span data-password-visibility-target="icon" class="hidden"><%= lucide_icon('eye-off') %></span>
      </button>
    </label>

    <div>
      <%= yield local_assigns %>
    </div>
  </div>

  <% if local_assigns[:error] %>
    <div class="label">
      <span class="label-text-alt text-error flex items-center gap-2">
        <%= lucide_icon('x', size: 14) %>
        <%= local_assigns[:error] %>
      </span>
    </div>
  <% end %>
</div>
